:root{
    --primary-text-color: #212121;
    --secondary-text-color:#ffffff;
    --accent-color:#757575;
    --invocation-color:#2196f3;


    
}

body {
    background-color:var(--secondary-text-color);  
}
a {
    color:var(--primary-text-color);
}
a:hover,
a:focus{
    color:var(--invocation-color);
}

.section-title {
    color: var(--primary-text-color);
}
.hero-title {
    color: var(--secondary-text-color);
}
.advantages-text{
    color: var(--accent-color);
}

.section .section-list {
    color: var(--secondary-text-color);
}
.occupation{
    color: var(--accent-color);
}
.section-team{
    background-color: #f5f4fa;
}
.section-clients:hover{
color: var(--invocation-color);
}
.section-companies:focus{
    border: thin;
}