:root{
    --primary-text-color: #212121;
    --secondary-text-color:#ffffff;
    --accent-color:#757575;
    --link-color:#2196f3;
    --buttons-background:#f5f4fa;    
}

body {
    background-color:var(--secondary-text-color); 
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}
a {
    color:var(--primary-text-color);
    text-decoration: none;
}
a:hover,
a:focus{
    color:var(--link-color);
}
ul{
    list-style-type: none;
}
.button{
    background-color: var(--link-color);
    color: var(--secondary-text-color);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
}
.button:hover,
.button:focus{
    background-color: var(--link-color);
    color: var(--secondary-text-color);
    font-family: inherit;
    
}
.button-footer{
    background-color: var(--link-color);
    color: var(--secondary-text-color);
    font-family: inherit;
    font-weight: 900;  
}
.button-footer:hover,
.button-footer:focus{
    background-color: var(--link-color);
    color: var(--secondary-text-color);
    font-family: inherit; 
    font-weight: 900;
}
.buttons{
    background-color: var(--buttons-background);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}
.buttons:hover,
.buttons:focus{
    background-color: var(--link-color);
    color: var(--secondary-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}
.site-nav .current{
    color: var(--link-color);
}
.site-nav{
    letter-spacing: 0,03em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}
.section-title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    font-weight: 700;
}
.hero{
    letter-spacing: 0.06em;
}
.hero-title {
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
}
.advantages-title {
    font-size: 14px;
    line-height: 1.1;
}
.advantages-text{
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.7;
}
.section{
    letter-spacing: 0,03em;
}
.section .section-list {
    color: var(--secondary-text-color);
}
.team-names{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.occupation{
    color: var(--accent-color);
    font-size: 16px;
    line-height: 1.2px;
}
.section-team{
    background-color: #f5f4fa;
}
.works-description{
    font-size: 18px;
    line-height: 1.6; 
    font-size: 18px;  
}
.works .works-projects{
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.works .works-list{
    color: var(--accent-color);
    font-size: 16px;
    line-height: 1.9;
}
.section-companies:focus{
    border: var(--link-color)
}
.section-companies:hover{
    color:var(--link-color)    
}
.section-companies{
    color: var(--accent-color);
}
.footer{
    color: var(--secondary-text-color);
    background-color: #2f303a;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.1;
}
.logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    color: var(--secondary-text-color)
   
}
.colortext{
    color:var(--link-color)
}
.adress{
    font-size: 14px;
    line-height: 1.7;

}
.mail{
    color: rgba(255,255,255, 0.6);
}
.dev{
    color: rgba(255,255,255, 0.4);
    font-size: 12px;
    line-height: 2;
    text-align: center;
}